body{
font-family:Arial;
background:#020617;
color:white;
text-align:center;
}

h1{
color:#22c55e;
}

.container{
width:90%;
margin:auto;
}

table{
margin:auto;
border-collapse:collapse;
width:90%;
background:#0f172a;
margin-bottom:30px;
}

th,td{
border:1px solid #334155;
padding:8px;
}

th{
background:#22c55e;
color:black;
}

input{
width:40px;
text-align:center;
}

button{
background:#22c55e;
border:none;
padding:10px 20px;
cursor:pointer;
}

#matches p{
background:#0f172a;
padding:10px;
margin:5px;
}
