body{
font-family:Arial;
background:#0d1b2a;
color:white;
text-align:center;
}

h1{
color:gold;
}

table{
margin:auto;
margin-bottom:30px;
border-collapse:collapse;
width:80%;
}

th,td{
border:1px solid white;
padding:8px;
}

th{
background:#1b263b;
}

button{
padding:10px 20px;
background:gold;
border:none;
font-weight:bold;
cursor:pointer;
}

select,input{
padding:6px;
}
