body{
font-family:Arial;
background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
color:white;
text-align:center;
}

h1{
color:gold;
margin-top:20px;
}

.sub{
margin-bottom:30px;
opacity:0.8;
}

.container{
display:flex;
justify-content:center;
gap:40px;
flex-wrap:wrap;
}

.card{
background:#111;
padding:20px;
border-radius:10px;
width:400px;
box-shadow:0 0 15px rgba(0,0,0,0.7);
}

table{
width:100%;
border-collapse:collapse;
}

th{
background:gold;
color:black;
}

th,td{
padding:8px;
border:1px solid #444;
}

tr:nth-child(even){
background:#1c1c1c;
}
